/AddNewProgram$1.class
/AddNewProgram.class
/MainWindow$1.class
/MainWindow$2.class
/MainWindow.class
/Program.class
/Ram.class
/RamWIndow$1.class
/RamWIndow.class
/SizeSelection$1.class
/SizeSelection$2.class
/SizeSelection.class
/TypeSelection$1.class
/TypeSelection$2.class
/TypeSelection.class
/RamWIndow$2.class
/TypeSelection$3.class
/TypeSelection$4.class
